.footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    &__main{
        padding-left:75px;
        height: 372px;
        width: 100%;
        background: #f3ab3e;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }
    &__logo {
        margin-top: 135px;
        width: 29%;
    }
    &__info {
        display: flex;
        flex-direction: column;
        width: 18%;
        margin-right: 10px;
    }
    &__heading {
        font-family: "Mulish-ExtraBold";
        color: white;
        padding-bottom: 18px;
        font-size: 26px;
        line-height: 37px;
    }
    &__payment {
        width: 23%;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    &__contacts{
        width: 28%;
        display: flex;
        flex-direction: column;
        padding-right:101px;
    }
    &__form{
        width: 495px;
        display: flex;
        align-items: center;
    }
    &__bottom {
        height: 61px;
        background: #6d2b1f;
        width:100%;
    }
}

.info__list {
    padding: 0;
    &-item {
        font-size: 18px;
        color: #6d450c;
        font-family: "Mulish-Bold";
        margin-bottom: 15px;
    }
}

.payment{
    &__box {
        width: 260px;
        max-width: 247px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        align-items: center;
    }
    &__img {
        margin-right: 15px;
        margin-bottom: 25px;
    }
}

.contacts{
    &__field{
        padding-left:62px;
        background:url(./../images/subscribe_Icon.png) no-repeat;
        background-position:20px;
        border-radius: 35px;
        height: 60px;
        max-width: 495px;
        color:#6d450c;
        font-family: Mulish-Bold;
        font-size: 17px;
        outline: none;
        background-color: white;
        width: 100%;
        margin-bottom: 21px;
        border: none;
        position: relative;
    }
    &__small-box{
        max-width: 400px;
        display: flex;
        align-items:baseline;
        margin-left: 111px;
    }
    &__btn{
        border:none;
        outline:none;
        background:transparent;
        color:#6d450c;
        font-family: Mulish-ExtraBold;
        font-size: 18px;
        position: relative;
        line-height: 40px;
        padding-left: 74px;
        // margin-right: 41px;
        width:200px;
        &::before {
            content: url(./../images/Arrow_follow.png);
            position: absolute;
            width: 48px;
            height: 43px;
            background-position: center;
            top: -9%;
            left: 5%;
        }
    }
    &__list{
        display: flex;
        max-width: 110px;
        padding: 0;
        margin-left:35px;
        margin-right: 0;
        &-item{
            margin-right: 22px;
        }
    }
}

.bottom{
    &__text{
        font-size: 13px;
        line-height: 35px;
        padding-top: 15px;
        color: #af8a82;
        display: block;
        text-align: center;
    }
    &__btn{
        height: 50px;
        width: 50px;
        border-radius:5px;
        background:url(./../images/gotop_Icon.png) no-repeat;
        background-position:center;
        background-color:#f2662f;
        border-radius:5px;
        position: fixed;
        right: 82px;
        bottom: 38px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
        &::after {
            content: "Go top";
            color: white;
            font-family: "Muli-Bold", sans-serif;
            font-size: 16px;
            line-height: 40px;
            position: absolute;
            right: 54px;
            top: 38px;
            display: block;
            width: 55px
        }
    }
}
