.smoothies {
    background-color: white;
    min-height: 870px;
    margin: 0 auto;
    &__heading {
        font-size: 50px;
        font-weight: bold;
        color: #f7ae3b;
        text-align: center;
        margin-top: 85px;
        font-family: 'Mulish-ExtraBold';
        margin-bottom: 47px;
        letter-spacing: -1px;
    }
    &__text {
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        max-width: 915px;
        margin-bottom: 60px;
        text-align: center;
        margin: 0 auto 60px;
    }
    &__icons{
        display: block;
        margin: 0;
        padding: 0;
    }
}

.icons{
    &__list {

        display: flex;
        justify-content: center;
        max-width: 980px;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        flex: 1 0 25%;
        padding: 0;
        &-item {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            width: 25%;
            height: 180px;
            padding: 0;
            border-left: 2px solid #f6edde;
            border-top: 2px solid #f6edde;
            // &:nth-child(5) {
            //     border-left: none;
            // }
            // &:first-child {
            //     border-left: none;
            // }
            // &:nth-child(-n+4) {
            //     border-top: none;
            // }
        }
    }
    &__heading {
        color: #f2612d;
        margin-top: 16px;
        text-align: center;
        font-size: 25px;
        line-height: 40px;
    }
}