.smoothies {
    background-color: white;
    height: 870px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &__heading {
        font-size: 50px;
        font-weight: bold;
        color: #f7ae3b;
        text-align: center;
        margin-top: 85px;
        margin-bottom: 33px;
        font-family: 'Mulish-ExtraBold';
    }
    &__text {
        margin-top: 0;
        font-size: 18px;
        align-self: center;
        text-align: center;
        line-height: 35px;
        width: 910px;
        margin-bottom: 67px;
    }
}

.icons{
    &__img {
        object-fit: cover;
    }
    &__list {
        display: flex;
        justify-content: center;
        width: 980px;
        height: 390px;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        flex: 1 0 25%;
        padding:0;
        &-item {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            width: 25%;
            height: 180px;
            padding: 0 0 27px 0;
            border-left: 2px solid #f6edde;
            border-top: 2px solid #f6edde;
        }
            &:nth-child(5) {
                border-left: none;
            }
            &:first-child {
                border-left: none;
            }
            &:nth-child(-n+4) {
                border-top: none;
            }
        }
    &__heading {
        font-size: 25px;
        color: #f2612d;
        font-weight: bold;
        align-self: center;
        text-align: center;
        font-family: Mulish-ExtraBold;
        white-space: nowrap;
    }
}