.testimonials {
    background: url(./../images/testimonials_bg.png);
    height: 720px;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        width: 410px;
        height: 300px;
        background-image: url(./../images/Dots.png);
        top: -85px;
        right: 42px
    }
    &__feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading {
        padding-top: 106px;
        margin-left: 0px;
        margin-right: -28px;
        margin-top: 0;
        text-align: center;
        font-size: 50px;
        color: #f7ae3b;
        font-family: Mulish-ExtraBold;
        &--orange {
            color: #f2612d;
        }
    }
    &__inner {
        display: flex;
        justify-content: center;
        margin-top: 117px;
    }
    &__controls {
        display: flex;
        justify-content: center;
        margin-top: 114px;
        margin-right: 71px;
    }
    &__img-wrap{
        margin-right: 62px;
        z-index: 2
    }
}

.feedback{
    position: relative;
    &::before {
        content: "Sarah A";
        position: absolute;
        top: 29px;
        left: -141px;
        font-size: 200px;
        line-height: 40px;
        color: #5a230f;
        font-weight: 700;
        z-index: -10;
    }
    &__quote{
    width: 520px;
    margin-top: 51px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 35px;
    margin-right: 50px;
    }
    &__cite {
        color: #f7ae3b;
        font-size: 18px;
        margin-top: 18px;
        font-style:italic;
    }
}

.controls__link {
    margin-left: 100px;
}